<div class='mb-sm'>
  <%= question.body %>
</div>

<div class='text-sm question-footer'>
  <div class='text-grey'>
    <%= l(question.created_at, format: :short) %>
  </div>

  <div>
    <%= button_to fa_icon('eye'), hide_question_path(question), method: :put, title: 'Скрыть вопрос' unless question.hidden? %>
    <%= link_to fa_icon('pencil'), edit_question_path(question), title: 'Изменить вопрос' %>
    <%= button_to fa_icon('trash-o'), question_path(question), form: {data: {turbo_confirm: 'Точно удалить вопрос?'}}, method: :delete, title: 'Удалить вопрос' %>
  </div>
</div>
