<div class='mb-sm'>
  <%= raw(render_with_links(question.body)) %>
  <%# <%= simple_format h(question.body) %> 
</div>

<% if question.answer.present? %>
  <div class='mb-sm text-answer'>
    <%= raw(render_with_links(question.answer))%>
  </div>
<% end %>

<div class='text-sm question-footer'>
  <div class='text-grey'>
    <%= l(question.created_at, format: :short) %>
    
    <% question.hashtags.each do |hashtag| %>
      <%= link_to display_hashtag(hashtag), hashtag_path(hashtag) %>
    <% end %>
  </div>

  <% if current_user == question.user %>
    <div>
      <% edit_icon = question.answer.present? ? 'pencil' : 'reply' %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: 'Ответить на вопрос', class: 'mr-sm' %>
      <%= button_to fa_icon('trash-o'), question_path(question), form: {data: {turbo_confirm: 'Точно удалить вопрос?'}},
        method: :delete, title: 'Удалить вопрос' %>
    </div>
  <% end %>
</div>
