<div class='container container-br-b'>
  <p>
    <%= link_to 'Сoздать новый вопрос', new_question_path, class: 'button button-main' %>
  </p>

  <p class='mt'>
    <%= render 'form', question: @question %>
  <p>
</div>

<div class='container mt-sm container-br'>
  <h2 class='title-lg'>
    <%= @questions.count %>
    <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
  </h2>
</div>

<% @questions.each do |question| %>
  <div class='mt-sm container container-br'>
    <%= render 'question', question: question %>
  </div>
<% end %>
