<div class='container container-br-b'>
  <h2 class='title-lg mb'>Недавно добавились</h2>
  <div class='users-box'>
    <% @users.each do |user| %>
      <%= render partial: 'users/user_avatar', locals: {user: user} %>
    <% end %>
  </div>
</div>

<div class='container mt-sm container-br'>
  <% @hashtags.each do |hashtag| %>
    <%= link_to display_hashtag(hashtag), hashtag_path(hashtag) %>
  <% end %>
</div>

<div class='container mt-sm container-br'>
  <h2 class='title-lg'>
    <%= inclination(@questions.count, 'Последний', 'Последние', 'Последние') %>
    <%= @questions.count %>
    <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
  </h2>
</div>

<% @questions.each do |question| %>
  <div class='mt-sm container container-br'>
    <div class='text-sm mb-sm text-grey'>
      <span>вопрос <%= link_to "##{question.id}", question_path(question) %></span>
      <%= render 'author', question: question %>
      <span>для <%= link_to display_nickname(question.user), user_path(question.user) %></span>
    </div>
    <%= render 'question', question: question %>
  </div>
<% end %>
