<div class='container container-br-b'>
  <h2 class='title'>Редактировать профиль</h2>

  <div class='mt'>
    <p><%= image_tag @user.gravatar_url, title: display_nickname(@user), class: 'rounded' %>
    <p class='text-sm mt mb'>Чтобы добавить или поменять аватар - зарегистрируйтесь на
      <%= link_to 'Gravatar', 'https://gravatar.com' %> и загрузите фото</p>
  </div>

  <%= render 'errors', errors: @user.errors if @user.errors.any? %>

  <%= form_with model: @user, data: {turbo: false} do |form| %>
    <p><%= form.label :name, 'Имя' %></p>
    <p><%= form.text_field :name, class: 'form-text-field' %></p>

    <p class='mt'><%= form.label :nickname, 'Никнейм на сайте' %></p>
    <p><%= form.text_field :nickname, class: 'form-text-field' %></p>

    <p class='mt'><%= form.label :color, 'Цвет шапки' %></p>
    <p><%= form.color_field :color %></p>

    <p class='mt-lg text-sm'> Если не хотите менять пароль - оставьте эти поля пустыми</p>
    
    <p class='mt'><%= form.label :password %></p>
    <p><%= form.password_field :password, class: 'form-text-field' %></p>

    <p class='mt'><%= form.label :password_confirmation %></p>
    <p><%= form.password_field :password_confirmation, class: 'form-text-field' %></p>

    <p class='mt-lg'>
      <%= form.submit 'Сохранить', class: 'button button-main' %>
      <span class='text-sm'>или <%= link_to 'вернуться', :back %></span>
    </p>
  <% end %>

  <div class='mt-lg'>
    <%= button_to 'Удалить профиль', user_path(@user),
      method: :delete,
      form: {data: {turbo_confirm: 'Вы точно хотите удалить свой профиль?'}},
      class: 'text-red text-sm'
    %>
  </div>
</div>
