<div class='user-box'>
  <h2 class='title-lg mt-lg'><%= @user.name %></h2>
  <div class='mt'>
    <%= render partial: 'users/user_avatar', locals: {user: @user} %>
  </div>
  <% if current_user == @user %>
    <p class='mt mb-lg'>
      <%= link_to fa_icon('pencil'), edit_user_path(@user) %>
    </p>
  <% end %>
  <p class='text-bold mt mb-lg'><%= display_nickname(@user) %></p>
</div>

<div class='container container-br-b'>
  <%= link_to 'Спроси меня', new_question_path(user_id: @user.id), class: 'button button-main' %>
  <p class='mt'>
    <%= render 'questions/form', question: @question %>
  <p>
</div>

<div class='container mt-sm container-br'>
  <% if @questions.any? %>
    <h2 class='title-lg'>
      <%= @questions.count %>
      <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
    </h2>
  <% else %>
    <p>У этого пользователя пока никто ничего не спросил. Задай ему вопрос!</p>
  <% end %>
</div>

<% if @questions.any? %>
  <% @questions.each do |question| %>
    <div class='mt-sm container container-br'>
      <div class='text-sm mb-sm text-grey'>
        <span>вопрос <%= link_to "##{question.id}", question_path(question) %></span>
        <%= render 'questions/author', question: question %>
      </div>
      <%= render question %>
    </div>
  <% end %>
<% else %>
  <%= image_tag 'no-messages.png', class: 'no-message-image mt-lg' %>
<% end%>

